Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MantenimientoPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNif" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNombre_Completo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDireccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTelefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPoblacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pProvincia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Postal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNum_Seguridad_Social" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MantenimientoPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MantenimientoPersonaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListaPersonas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNif" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNombre_Completo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDireccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTelefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPoblacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pProvincia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCodigo_Postal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNum_Seguridad_Social" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListaPersonasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListaPersonasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MantenimientoMedico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNif_Medico" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pFecha_Alta" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pFecha_Baja" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pNum_Colegiado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEstatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MantenimientoMedicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MantenimientoMedicoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListaMedicos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNif_Medico" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pFecha_Alta" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pFecha_Baja" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pNum_Colegiado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEstatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListaMedicosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListaMedicosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MantenimientoPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:MantenimientoPersona" />
  </wsdl:message>
  <wsdl:message name="MantenimientoPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:MantenimientoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="GetListaPersonasSoapIn">
    <wsdl:part name="parameters" element="tns:GetListaPersonas" />
  </wsdl:message>
  <wsdl:message name="GetListaPersonasSoapOut">
    <wsdl:part name="parameters" element="tns:GetListaPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="MantenimientoMedicoSoapIn">
    <wsdl:part name="parameters" element="tns:MantenimientoMedico" />
  </wsdl:message>
  <wsdl:message name="MantenimientoMedicoSoapOut">
    <wsdl:part name="parameters" element="tns:MantenimientoMedicoResponse" />
  </wsdl:message>
  <wsdl:message name="GetListaMedicosSoapIn">
    <wsdl:part name="parameters" element="tns:GetListaMedicos" />
  </wsdl:message>
  <wsdl:message name="GetListaMedicosSoapOut">
    <wsdl:part name="parameters" element="tns:GetListaMedicosResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="MantenimientoPersona">
      <wsdl:input message="tns:MantenimientoPersonaSoapIn" />
      <wsdl:output message="tns:MantenimientoPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListaPersonas">
      <wsdl:input message="tns:GetListaPersonasSoapIn" />
      <wsdl:output message="tns:GetListaPersonasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MantenimientoMedico">
      <wsdl:input message="tns:MantenimientoMedicoSoapIn" />
      <wsdl:output message="tns:MantenimientoMedicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListaMedicos">
      <wsdl:input message="tns:GetListaMedicosSoapIn" />
      <wsdl:output message="tns:GetListaMedicosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MantenimientoPersona">
      <soap:operation soapAction="http://tempuri.org/MantenimientoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaPersonas">
      <soap:operation soapAction="http://tempuri.org/GetListaPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MantenimientoMedico">
      <soap:operation soapAction="http://tempuri.org/MantenimientoMedico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaMedicos">
      <soap:operation soapAction="http://tempuri.org/GetListaMedicos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MantenimientoPersona">
      <soap12:operation soapAction="http://tempuri.org/MantenimientoPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaPersonas">
      <soap12:operation soapAction="http://tempuri.org/GetListaPersonas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MantenimientoMedico">
      <soap12:operation soapAction="http://tempuri.org/MantenimientoMedico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListaMedicos">
      <soap12:operation soapAction="http://tempuri.org/GetListaMedicos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44306/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44306/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>